<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autumn's website - page template</title>
    <meta name="description" content="woah this is a page template. ignore it.">

    <meta property="og:title" content="page template - paradoxical autumn's site">
    <meta property="og:description" content="woah this is a page template. ignore it.">

    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/index.js" type="module"></script>
</head>
<body>
    <div class="crt-effect canvas">
        <!-- <img id="noise-overlay" loading="lazy"> -->
        <h1><span class="title-path" aria-hidden="true">~/autumns-website/</span>templates/page_template.html</h1>
        <aside w3-include-html="/templates/header.html" class="header"></aside>
        <hr class="separator" aria-hidden="true"/>
        <p>Why?</p>
        <p>Why are you here?</p>
        
        <footer w3-include-html="/templates/footer.html"></footer>
    </div>
</body>
</html>