@import "animations.css";

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-button {
    font-size: xx-large;

    background-color: transparent;
    font-weight: bold;
    color: var(--main-color);

    font-family: 'Space Mono', 'Courier New', Courier, monospace;

    padding: 1rem;
    
    border: 1px solid var(--main-color);

    cursor: pointer;

    margin-bottom: 2rem;

    width: min-content;
}

.warning-button:hover, .warning-button:focus {
    color: black;
    background-color: var(--main-color);

    box-shadow: 0px 4px 50px var(--danger-colour);
}

@media not (prefers-reduced-motion) {
    .warning-button {
        transition: background-color 0.5s ease-out,
        color 0.5s ease-out,
        rotate 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
        box-shadow 0.25s ease-out,
        border-width 0.5s ease-out;
    }

    .warning-button:hover, .warning-button:focus {
        animation: shake 0.8s steps(1,end) infinite;
    }
}